.git
.github
.husky
.vscode

node_modules
dist
coverage
.data
files

.env
.env.*
!.env.example
!env-example-document

logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

eslint-output*.txt
eslint-output*.json
tsc-check.txt
